
body{ 
background-image: url("index.png"); 
background-attachment: fixed;
background-position: top;
background-size:cover; 
background-repeat: no-repeat;
}
div.container{
	color:black;
	text-align:center;
	padding:10px; 
	font-size:20px;
	border: 10px white solid;
     }
h1{color:white;}
h1,h2,h3,h4,h5,h6{
	text-decoration: underline;
}
form{border: 10px white solid;
	background-color:#8727d9;
	padding:30px;
	margin:10px;
}
.hi{
	color:white;
}
footer{
	color:white;
	font-size: 22px;
}
.hello{
	text:bold;
	font-size: 30px;
	font-weight: 20px;
	color:white;
}
p{
	color:black;
	font-weight:bold;
	font-size:25px;
}
button{
color:black;
border:2px black solid;
border-radius:10px;
font-weight: 7px;
background-color:blue;
}
button:hover{
color:#fff;
}
h6{
	font-weight: 5px;
	font-size: 10px;
}